<h2>@ViewData["Title"]</h2>
By: @ViewData["Author"]
<br />
<br />
<p>@ViewData["Body"]</p>

@*BlogID @ViewData["Doesnotexist"] does not exist.*@

<br />
<br />
<a href="http://localhost:52702/api/blogs">Go back</a>